{% extends 'layout.html' %}
{% block content %}

<div class="home" id="pdf-form">
    <form enctype="multipart/form-data" method="POST" name="form1" onsubmit="formSubmit1()">
        <label class="form-label mt-4" for="file">
        </label>
        <br>
        <div id="preview-container">
            <button type="button" id="upload-dialog">Choose PDF</button>
            <input type="file" id="pdf-file" name="file" accept="application/pdf" />
            <div id="pdf-loader"></div>
            <canvas id="pdf-preview" width="400"></canvas>
            <span id="pdf-name"></span>
            <button id="upload-button">Submit</button>
            <button type="button" id="cancel-pdf">Cancel</button>
        </div>
        <script src="{{url_for('static', filename='js/loadPDF.js')}}"></script>
        <br>
        <label class="form-label mt-4" for="ddl1">Choose an action to perform on your PDF:</label>
        &nbsp;
        <br>
        <select id="ddl1" name="ddl1">
            <option name="file" type="file" value="/pdf/analyze_entities"> Analyze
                Entities
            </option>
            <option name="file" type="file" value="/pdf/analyze_entity_sentiment">
                Analyze Entity Sentiment
            </option>
            <option name="file" type="file" value="/pdf/analyze_sentiment"> Analyze
                Sentiment
            </option>
            <option name="file" type="file" value="/pdf/analyze_syntax"> Analyze
                Syntax
            </option>
            <option name="file" type="file" value="/pdf/annotate_text"> Annotate Text
            </option>
            <option name="file" type="file" value="/pdf/classify_text"> Classify Text
            </option>

        </select>
        <span class="focus"></span>

        <br> <br>
    </form>
</div>

{% endblock %}