<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>nlp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adam.css') }}">
</head>
   <body>
       <figure class="text-center">
        <br><br><br><br>


      <h3>pdf entity:</h3>
       <form action = "http://localhost:5000/pdf/analyze_entities" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <button type = "submit">Submit</button>
      </form>
           <br>
       <h3>pdf entity sentiment:</h3>
        <form action = "http://localhost:5000/pdf/analyze_entity_sentiment" method = "POST"
        enctype = "multipart/form-data">
             <input type = "file" name = "file" />
            <button type = "submit">Submit</button>
        </form>

                  <h3>pdf sentiment:</h3>
        <form action = "http://localhost:5000/pdf/analyze_sentiment" method = "POST"
        enctype = "multipart/form-data">
             <input type = "file" name = "file" />
            <button type = "submit">Submit</button>
        </form>
                  <h3>pdf syntax:</h3>
        <form action = "http://localhost:5000/pdf/analyze_syntax" method = "POST"
        enctype = "multipart/form-data">
             <input type = "file" name = "file" />
            <button type = "submit">Submit</button>
        </form>
                  <h3>pdf annotate:</h3>
        <form action = "http://localhost:5000/pdf/annotate_text" method = "POST"
        enctype = "multipart/form-data">
             <input type = "file" name = "file" />
            <button type = "submit">Submit</button>
        </form>
                  <h3>pdf classify:</h3>
        <form action = "http://localhost:5000/pdf/classify_text" method = "POST"
        enctype = "multipart/form-data">
             <input type = "file" name = "file" />
            <button type = "submit">Submit</button>
        </form>
        <br><br><br><br><br>
       <h3>entity:</h3>
      <form action = "http://localhost:5000/analyze_entities" method = "POST"
         enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
         <button type = "submit">Submit</button>
      </form>

      <h3>entity sentiment:</h3>
       <form action = "http://localhost:5000/analyze_entity_sentiment" method = "POST"
        enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
            <button type = "submit">Submit</button>
        </form>

     <h3>sentiment:</h3>
       <form action = "http://localhost:5000/analyze_sentiment" method = "POST"
        enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
            <button type = "submit">Submit</button>
        </form>

      <h3>syntax:</h3>
       <form action = "http://localhost:5000/analyze_syntax" method = "POST"
        enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
            <button type = "submit">Submit</button>
        </form>


     <h3>annotate:</h3>
       <form action = "http://localhost:5000/annotate_text" method = "POST"
        enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
            <button type = "submit">Submit</button>
        </form>

    <h3>classify:</h3>
       <form action = "http://localhost:5000/classify_text" method = "POST"
        enctype = "multipart/form-data">
          <input class="text-xl-center" type = "text" name = "text" />
            <button type = "submit">Submit</button>
        </form>

       </figure>
   </body>
</html>